.search-guild
    @include default-shadow(0, 0, 0)
    padding: 100px 20px 20px
    background-color: #111
    background-image: url("../assets/dark-exa.png");
    .guild-search
        position: relative
        margin: auto
        width: 100%
        max-width: 610px
        position: relative
        .input-search
            @include default-shadow(0, 0, 0)
            width: 100%
            max-width: calc(100% - 10px)
            height: 55px
            border-radius: 4px
            border: 2px solid $dark
            padding-left: 20px
            padding-right: 110px
            font-size: 16px
            margin: 0 5px
            
        .button-search
            position: absolute
            top: 17px
            right: 10px
            background: none
            border: none
            cursor: pointer
        .search-select-server
            position: absolute
            top: 12px
            right: 40px
            *
                color: #aaa !important
                background-color: inherit
                &::before
                    border: none
                &:hover
                    border: none
            .select
                width: 70px

            

    .guild-filters
        margin: auto
        margin-top: 10px
        width: 100%
        max-width: 610px
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        .filter
            width: 115px
            margin: 5px

            .select
                background-color: white
            .select-label
                color: white

@media(max-width: $mobile-brakepoint)
    .guild-filters
        justify-content: space-around !important