
.guild-view
    &-loader
        padding-top: 50px !important
    aside
        margin-right: 20px
        margin-top: 10px
        max-width: 260px
    .update-guild
        padding: 5px
        &-last-update
            display: flex
            width: 100%
            justify-content: left
            .autorenew
                height: 20px
                margin-left: 10px
                
        &-info
            word-wrap: break-word
            margin: 0px
            font-size: 14px
    .guild-name-container
        text-align: center
        padding: 20px
        h1
            margin: 0px
            word-wrap: break-word;
        p
            font-size: 10px
            margin: 0px

    .progression
        width: 260px
        margin: 10px 0px

        .progression-instance
            background-position: center !important
            background-repeat: no-repeat
            background-attachment: fixed
            *
                color: white

        .instance-boss-container
            *
                font-size: 14px
            .boss-defeated
                font-size: 12px

        li:nth-child(even)
            background-color: $light-2 !important

    .class-dist-container
        max-width: 550px
        margin: auto

        .class-dist
            display: flex
            width: 550px

            .class-container
                @include default-shadow(0, 0, 0)
                background-position: center center !important
                line-height: 40px
                height: 40px
                width: 40px
                margin: 5px
                border-radius: 50%

                span
                    display: block
                    border-radius: 50%
                    width: 100%
                    height: 100%
                    text-align: center
                    line-height: inherit
                    color: $light
                    font-size: 12px
                    font-weight: bold
    .display-guild-members
        margin: 10px 0px
        max-width: 100%
        .name-cell
            font-weight: bold
            font-size: 14px
        &-toolbar
            display: flex
            flex-wrap: wrap
            justify-content: space-around
            
            .member-table-name-input
                margin-bottom: 18px

        &-pagination
            font-size: 0.75rem
            margin-top: 5px
            padding: 10px
        &-pagination div
            height: auto
            flex-wrap: wrap
            justify-content: flex-end
    .guild-view-container
        padding: 20px
        display: flex
        flex-wrap: wrap
        justify-content: center

@media(max-width: 550px)
    .display-guild-members-pagination div
        justify-content: center !important
    .class-dist-container
        overflow: hidden
        overflow-x: scroll
        margin: 0px 20px !important
    aside
        margin-right: 0px !important
